<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Overdue Books</title>
  <link rel="stylesheet" th:href="@{static/main.css}" />
</head>
<body>
<div class="main">
  <h1 class="title">Overdue Books</h1>

  <table class="overdueBooksTable">
    <thead>
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>Title</th>
      <th>Author</th>
      <th>Return day</th>
      <th>Actions</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="loan : ${overdueBooks}">
      <td th:text="${loan.patron.name}"></td>
      <td th:text="${loan.patron.surname}"></td>
      <td th:text="${loan.book.title}"></td>
      <td th:text="${loan.book.author}"></td>
      <td th:text="${loan.getReturnDate()}"></td>
      <td>
        <form th:action="@{/loan/{loanId}(loanId=${loan.id})}"
              th:method="delete">
          <button type="submit">Return</button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>

  <a href="/" class="actionButton">Main menu</a>
</div>
</body>
</html>
