<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="../../static/main.css" />
<head>
    <title>Add User</title>
</head>
<body>
<div class="main">
    <h1 class="title">Add User</h1>

    <form
            action="#"
            th:action="@{/admin/save}"
            method="post"
            class="addUserForm"
    >
        <div>
            <label for="username">Username:</label><br />
            <input type="text" id="username" name="username" required /><br />
        </div>
        <div>
            <label for="password">Password:</label><br />
            <input type="password" id="password" name="password" required /><br />
        </div>
        <div>
            <label for="role">Role:</label><br />
            <select id="role" name="role">
                <option
                        th:each="role : ${roles}"
                        th:value="${role.name}"
                        th:text="${role.name}"
                ></option></select
            ><br />
        </div>
        <div>
            <button type="submit" value="Add User">ADD USER</button>
        </div>
    </form>
</div>
</body>
</html>
